config/*.json
docs/architecture
docs/presentation
docs/records
docs/references
docs/post
data/interim/*
data/processed/*
env/*
references/*
test/*
docker/jupyterlab/kaggle.json


__pycache__/
*.py[cod]
*$py.class
.idea/
.log
.png
.idea
*.pyc
.ipynb_checkpoints
.DS_Store
*.pem